<div class="container" data-cy="dashboard">
  <div class="cta p-m-05 p-lg-1">
    <button
      color="accent"
      data-cy="btn-all-books"
      [routerLink]="['/books']"
      mat-raised-button
    >
      All Books
    </button>
  </div>

  <div class="title p-m-1 mt-m-7 mt-sm-3 mt-md-3 mt-lg-1">
    <h1>The Book Store - Top 3</h1>
  </div>

  <div class="book-search">
    <app-book-search (titleEmitter)="onBookSearch($event)"></app-book-search>
  </div>

  <div
    class="books-overview cvw-m-95 ch-m-100 ch-sm-50 cvw-sm-80 cvw-md-70 ch-md-auto cvw-lg-60 cvw-xl-50"
    data-cy="books-overview"
    *ngIf="booksCombined$ | async as books"
    appMaxWidth
  >
    <app-book-card *ngFor="let b of books" [book]="b"> </app-book-card>
  </div>
</div>
