@use "../../../../styles.scss" as scss;

$h-title: 30%;
$h-authors: 5rem;

.container {
  position: relative;
  display: grid;
  grid-template-rows: $h-title calc(80% - $h-title - $h-authors) $h-authors;
  background-color: scss.$preview-bg-color;

  @media (min-width: map-get(scss.$break-points,"sm")) {
    $h-title: 50%;
    $h-authors: 5rem;
    grid-template-rows: $h-title calc(80% - $h-title - $h-authors) $h-authors;
    //background-color: greenyellow;
  }
}

.title,
.sub-title,
.authors {
  position: relative;
  display: grid;
}

.title {
  place-items: start center;

  @media (min-width: map-get(scss.$break-points,"sm")) {
    place-items: center;
  }

  h2 {
    text-align: center;
  }
}

.sub-title {
  place-items: center;
  font-style: italic;
}

.authors {
  align-items: end;
}
