@use "../../../../styles.scss" as scss;

.form-wrapper {
  position: relative;
  display: grid;
  width: 75%;
  margin-inline: auto;
  margin-top: 2rem;
}

.search-form {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
