@use "../../../../styles.scss" as scss;

.container {
  position: relative;
  display: grid;
  background-color: lighten(
    map-get(map-get(scss.$book-app-theme, background), dialog),
    10%
  );
}
