@use "../../../../styles.scss" as scss;

.container {
  position: relative;
  display: grid;
  place-items: center;

  height: 100vh;

  background-color: orange;

  //   @media (min-width: map-get(scss.$break-points,"md")) {
  //     grid-template-columns: repeat(2, 1fr);
  //     grid-template-areas: "overview preview";
  //     background-color: greenyellow;
  //   }
}

.books-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  place-items: start center;
  gap: 1rem;
  padding: 1rem;
  width: 60%;
  height: 50%;
  border: red dashed 3px;
  background-color: aquamarine;
  overflow-y: scroll;
}
