<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="modaltrigger"
  [cdkConnectedOverlayOpen]="(selectedBookByISBN$ | async) !== undefined"
  cdkConnectedOverlayHasBackdrop="true"
  cdkConnectedOverlayBackdropClass="cdk-overlay-black-backdrop"
  (backdropClick)="onResetSelectedBookByISIN()"
  [cdkConnectedOverlayPositions]="[
    {
      originX: 'center',
      originY: 'center',
      overlayX: 'center',
      overlayY: 'center'
    }
  ]"
>
  <app-book-preview
    [bookPreview]="selectedBookByISBN$ | async"
  ></app-book-preview>
</ng-template>

<div
  class="container"
  #modaltrigger="cdkOverlayOrigin"
  data-cy="dashboard"
  cdkOverlayOrigin
>
  <div
    class="books-overview"
    data-cy="books-overview"
    *ngIf="books$ | async as books"
  >
    <app-book-card
      (ISBNEmitter)="onSelectedISBN($event)"
      *ngFor="let b of books"
      [book]="b"
    >
    </app-book-card>
  </div>
</div>
