.container {
  position: relative;
  display: grid;
  padding: 1rem;
  width: 300px;
  aspect-ratio: 3 / 2;
  border-radius: 0.375rem;
  border: greenyellow 2px solid;
  background-color: palevioletred;

  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
  }
}
