<div
  class="container"
  data-cy="book-card"
  (click)="ISBNEmitter.emit(book.details.isbn)"
>
  <div class="title">
    <h3 data-cy="book-card-title">{{ book.cover.title }}</h3>
  </div>
  <div class="authors">
    <h4 [id]="i" *ngFor="let author of book.cover.authors; let i = index">
      {{ author }}
    </h4>
  </div>

  <div class="publisher">
    <h6 data-cy="book-card-publisher">{{ book.details.publisher }}</h6>
    <span data-cy="book-card-published-year">{{
      book.details.publishedYear
    }}</span>
  </div>
</div>
